@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div class="form-group">
	<label>
		User:
		<input @bind="userInput"/>
	</label>
</div>

<div class="form-group">
	<label>
		Message:
		<input @bind="messageInput" size="50" />
	</label>

</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send </button>

<hr>

<ul id="messageList">
	@foreach (var message in message)
	{
		<li>@message</li>
	}
</ul>

@code {
	private HubConnection? hubConnection;
	private List<string> messagges = new List<string>();
	private string? userInput;
	private string? messsageInput;

	protected override async Task OnUnitializedAsync()
}


